.about-container {
  padding: 3rem;
}

.about-title {
  font-weight: 350;
  font-size: 3.5em;
  margin-top: 1em;
}

.skills-title {
  font-weight: 350;
  font-size: 1.7em;
  margin-top: 1em;
}

.about-content {
  margin-top: 2em;
}

.image-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.portrait {
  background: none;
  width: 100%;
  height: auto;
}

/* RESPONSIVENESS */
/* ============== */
@media screen and (max-width: 991px) {
  .portrait {
    width: 50%;
  }
}
