.custom-card {
  background: var(--main-color-3);
  border: 1px solid var(--main-color-1);
  margin-bottom: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.3s;
}

.custom-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s;
}

.custom-card-body {
  display: flex;
  justify-content: space-between;
}

.card-image-container {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
}

.card-image {
  border-radius: 0.3rem;
  object-fit: cover;
  max-width: 10em;
  max-height: 5em;

  margin: 0 !important;
}

.card-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-content {
  margin-left: 2em;
  margin-right: 1em;
}

.link-arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.skills-badge {
  color: #f8f8f8;
  background: #252525;

  border-radius: 50rem;

  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

@media screen and (max-width: 762px) {
  .custom-card-body {
    flex-direction: column;
  }
  .card-image-container {
    justify-content: center;
  }
  .card-image {
    max-width: 20em;
    max-height: 10em;
  }
  .card-content {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
  }
  .link-arrow {
    display: none;
  }
}
