/* ============================= */
/* =       FOOTER STYLING      = */
/* ============================= */

.custom-footer {
  align-items: center;
  justify-content: center;
  color: #e8e8e8;
  background: #121212;
  padding: 2rem;
}

.footer-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.footer-text p {
  margin: auto;
}

.footer-text a {
  color: inherit;
  text-decoration: underline;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.footer-socials a {
  color: inherit;
}
