/* ============================= */
/* =        WORK STYLING       = */
/* ============================= */
.work-title {
  display: flex;
}

.work-container {
  padding: 3rem;
}

.custom-work {
  background: var(--main-color-2);
}

/* RESPONSIVENESS */
/* ============== */
@media screen and (max-width: 991px) {
  .work-container {
    padding-top: 0;
  }
}

@media screen and (max-width: 762px) {
  .work-title {
    justify-content: center;
  }
}
